#buttonArea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

button:focus{
    background-color: #c0a5a5;
}

.content{
    margin-top: 10px;
    margin-left: 50vh;
    width: 40%;
}